#MedicationsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#MedicationsTitle {
  padding: 2rem;
  color: red;
}

#MedicationsTable {
  padding: 2rem;
  max-width: 100vh;
}

#MedicationsForm {
  padding: 2rem;
  max-width: 100vh;
}

#MedicationsButton {
  padding: 2rem;
  max-width: 10rem;
}
