.prompts {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f5f7fa;
  color: #1f2933;
  font-family: "Roboto";
  padding: 1rem;
  font-size: 8vw;
  z-index: 3000;
}

.prompts a,
.prompts a:visited,
.prompts a:hover {
  text-decoration: none;
  color: white;
}

.prompts h1 {
  text-align: center;
  font-size: 7rem;
}

.emergency-buttons {
  margin: auto;
  color: white;
}

.prompt-button {
  padding: 1.5rem 6rem;
  margin: 5rem;
  border-radius: 15px;
  font-size: 3rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: #cf1124;
}

.emergency {
  display: block;
}

.age-group {
  display: none;
}
